.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.meetingsList {
  display: flex
}

.meetingCard {
  border: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 1em;
}

.newMeetingForm {
  display: flex;
  justify-content: space-around;
}

.newMeeting {
  margin-bottom: 2%;
}

label {
  margin-right: .5em
}

label,
input,
select {
  margin-bottom: .5em;
}

.formButton {
  margin-left: .5em;
  margin-bottom: .5em;
}

ol li {
  list-style-type: none;
}